:root {
  --tile-max-size: 22vw;
  --tile-padding: 0.5vw;
}

.container {
  --padding: 32px;

  height: calc(100% - 2 * var(--padding));
  width: calc(100% - 2 * var(--padding));
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

section {
  height: fit-content;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
